In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#Dependencies
import pandas as pd

#File path
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on = ["school_name","school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [3]:
#calculate total number unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [4]:
#total number of students
student_count = school_data_complete['student_name'].count()
print(student_count)

39170

In [5]:
#calculate total budget for schools
total_budget = school_data['budget'].sum()
total_budget

24649428

In [6]:
# calculate avg math score 
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

78.98537145774827

In [7]:
#calculate avg reading score 
average_reading_score = school_data_complete['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [8]:
#percentage passing math
passing_math_count = school_data_complete[school_data_complete['math_score'] >= 70]
passing_math_percentage = passing_math_count['math_score'].count() / student_count * 100
print(passing_math_percentage)

74.9808526933878

In [12]:
#percentage passing reading
passing_reading_count = school_data_complete[school_data_complete['reading_score'] >= 70]
passing_reading_percentage = passing_reading_count['reading_score'].count() / student_count * 100
print(passing_reading_percentage)

85.80546336482001

In [13]:
 # Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [14]:
#create dataframe for district summary
district_summary = {
                                'Total Schools': [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                "% Passing Reading": [passing_reading_percentage],
                                "% Overall Passing": [overall_passing_rate] 
                                                                    
                    }
district_summary = pd.DataFrame(district_summary)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [15]:
#select school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
#calculate the total student count
per_school_counts = school_data_complete.groupby("school_name")["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [17]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
#calculate average test scores
per_school_math = school_data_complete.groupby('school_name').agg({'math_score':'mean'})
per_school_math

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [19]:
#calculate average test scores
per_school_reading  = school_data_complete.groupby('school_name').agg({'reading_score':'mean'})
per_school_reading

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [20]:
#calculate number of schools with a math score 70 or higher
school_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70].nunique()["school_name"]
school_passing_math

15

In [21]:
#calculate number of schools with a reading score 70 or higher
school_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70].nunique()["school_name"]
school_passing_reading

15

In [22]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [23]:
# create a dataframe with the number of students who passed math for each school
per_school_passing_math = passing_math_count.groupby(["school_name"]).count()["student_name"]

# calculate the percentage of students who passed math for each school
per_school_passing_math = per_school_passing_math / per_school_counts * 100

In [24]:
# create a dataframe with the number of students who passed reading for each school
per_school_passing_reading = passing_reading_count.groupby(["school_name"]).count()["student_name"]

# calculate the percentage of students who passed reading for each school
per_school_passing_reading = per_school_passing_reading/ per_school_counts * 100

In [25]:
# create a dataframe with the number of students who passed math and reading for each school
passing_math_and_reading = passing_reading_count.groupby(["school_name"]).count()["student_name"]

# calculate the percentage of students who passed math and reading for each school
overall_passing_rate = passing_math_and_reading/ per_school_counts * 100

In [26]:
# Create a DataFrame called "per_school_summary" with columns for the calculatons above


per_school_summary = pd.DataFrame({
    'School Type': school_types,
    'Total Students' : student_count,
    'Total School Budget': total_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': overall_passing_rate 
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
print(per_school_summary)

                      School Type  Total Students Total School Budget  \
Bailey High School       District           39170      $24,649,428.00
Cabrera High School       Charter           39170      $24,649,428.00
Figueroa High School     District           39170      $24,649,428.00
Ford High School         District           39170      $24,649,428.00
Griffin High School       Charter           39170      $24,649,428.00
Hernandez High School    District           39170      $24,649,428.00
Holden High School        Charter           39170      $24,649,428.00
Huang High School        District           39170      $24,649,428.00
Johnson High School      District           39170      $24,649,428.00
Pena High School          Charter           39170      $24,649,428.00
Rodriguez High School    District           39170      $24,649,428.00
Shelton High School       Charter           39170      $24,649,428.00
Thomas High School        Charter           39170      $24,649,428.00
Wilson High School        Charter           39170      $24,649,428.00
Wright High School        Charter           39170      $24,649,428.00

                      Per Student Budget  Average Math Score  \
Bailey High School               $628.00           78.985371
Cabrera High School              $582.00           78.985371
Figueroa High School             $639.00           78.985371
Ford High School                 $644.00           78.985371
Griffin High School              $625.00           78.985371
Hernandez High School            $652.00           78.985371
Holden High School               $581.00           78.985371
Huang High School                $655.00           78.985371
Johnson High School              $650.00           78.985371
Pena High School                 $609.00           78.985371
Rodriguez High School            $637.00           78.985371
Shelton High School              $600.00           78.985371
Thomas High School               $638.00           78.985371
Wilson High School               $578.00           78.985371
Wright High School               $583.00           78.985371

                       Average Reading Score  % Passing Math  \
Bailey High School                  81.87784       66.680064
Cabrera High School                 81.87784       94.133477
Figueroa High School                81.87784       65.988471
Ford High School                    81.87784       68.309602
Griffin High School                 81.87784       93.392371
Hernandez High School               81.87784       66.752967
Holden High School                  81.87784       92.505855
Huang High School                   81.87784       65.683922
Johnson High School                 81.87784       66.057551
Pena High School                    81.87784       94.594595
Rodriguez High School               81.87784       66.366592
Shelton High School                 81.87784       93.867121
Thomas High School                  81.87784       93.272171
Wilson High School                  81.87784       93.867718
Wright High School                  81.87784       93.333333

                       % Passing Reading  % Overall Passing
Bailey High School             81.933280          81.933280
Cabrera High School            97.039828          97.039828
Figueroa High School           80.739234          80.739234
Ford High School               79.299014          79.299014
Griffin High School            97.138965          97.138965
Hernandez High School          80.862999          80.862999
Holden High School             96.252927          96.252927
Huang High School              81.316421          81.316421
Johnson High School            81.222432          81.222432
Pena High School               95.945946          95.945946
Rodriguez High School          80.220055          80.220055
Shelton High School            95.854628          95.854628
Thomas High School             97.308869          97.308869
Wilson High School             96.539641          96.539641
Wright High School             96.611111          96.611111

# Highest Performing Schools (by Overall Passing)

In [27]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows.
#Save the results in a DataFrame called "top_schools".

top_schools = overall_passing_rate.sort_values( ascending=False) 
top_schools.head()

Thomas High School     97.308869
Griffin High School    97.138965
Cabrera High School    97.039828
Wright High School     96.611111
Wilson High School     96.539641
dtype: float64

# Bottom Performing Schools (By % Overall Passing)

In [28]:
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows.
#Save the results in a DataFrame called "bottom_perform".

bottom_perform = overall_passing_rate.sort_values(ascending=True) 
bottom_perform.head()

Ford High School         79.299014
Rodriguez High School    80.220055
Figueroa High School     80.739234
Hernandez High School    80.862999
Johnson High School      81.222432
dtype: float64

# Scores by Grade

In [29]:
# Use the code provided to separate the data by grade
nineth = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh = school_data_complete[(school_data_complete["grade"] == "11th")]
twelveth = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group each garde by "school_name" 
nineth_grouped = nineth.groupby(["school_name"])
tenth_grouped = tenth.groupby(["school_name"])
eleventh_grouped = eleventh.groupby(["school_name"])
twelveth_grouped = twelveth.groupby(["school_name"])

# Math Scores by Grade

In [30]:

# Average Math Scores by Grade
math_nineth_mean = nineth_grouped['math_score'].mean()
math_tenth_mean = tenth_grouped['math_score'].mean()
math_eleventh_mean = eleventh_grouped['math_score'].mean()
math_twelveth_mean = twelveth_grouped['math_score'].mean()

# Creating dictionary holding the results 
math_by_grade = {
    '9th': math_nineth_mean,
    '10th': math_tenth_mean,
    '11th': math_eleventh_mean,
    '12th': math_twelveth_mean
}



# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(math_by_grade)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [31]:
# Calculate the mean of the 'math_score' column for each grade
math_nineth_mean = nineth_grouped['math_score'].mean()
math_tenth_mean = tenth_grouped['math_score'].mean()
math_eleventh_mean = eleventh_grouped['math_score'].mean()
math_twelveth_mean = twelveth_grouped['math_score'].mean()

# Create a dictionary that maps each grade to its mean score
math_by_grade = {
    '9th': math_nineth_mean,
    '10th': math_tenth_mean,
    '11th': math_eleventh_mean,
    '12th': math_twelveth_mean
}

# Create a DataFrame from the dictionary
math_scores_by_grade = pd.DataFrame(math_by_grade)

# Remove the index name
math_scores_by_grade.index.name = None

# Display the DataFrame
print(math_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores By Grade

In [32]:
# Average reading Scores by Grade
reading_nineth_mean = nineth_grouped['reading_score'].mean()
reading_tenth_mean = tenth_grouped['reading_score'].mean()
reading_eleventh_mean = eleventh_grouped['reading_score'].mean()
reading_twelveth_mean = twelveth_grouped['reading_score'].mean()

# Creating dictionary holding the results 
reading_by_grade = {
    '9th': reading_nineth_mean,
    '10th': reading_tenth_mean,
    '11th': reading_eleventh_mean,
    '12th': reading_twelveth_mean
}



# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(reading_by_grade)

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores By School Spending

In [33]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spending_group_names = ["<$585", "$585-630", "$630-645", "$645-680"]


# Group the data frame by spending ranges(per student)
school_spending_grouped = per_school_summary.groupby("Per Student Budget").mean()
school_spending_grouped

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Budget,,,,,,
$578.00,39170,78.985371,81.87784,93.867718,96.539641,96.539641
$581.00,39170,78.985371,81.87784,92.505855,96.252927,96.252927
$582.00,39170,78.985371,81.87784,94.133477,97.039828,97.039828
$583.00,39170,78.985371,81.87784,93.333333,96.611111,96.611111
$600.00,39170,78.985371,81.87784,93.867121,95.854628,95.854628
$609.00,39170,78.985371,81.87784,94.594595,95.945946,95.945946
$625.00,39170,78.985371,81.87784,93.392371,97.138965,97.138965
$628.00,39170,78.985371,81.87784,66.680064,81.933280,81.933280
$637.00,39170,78.985371,81.87784,66.366592,80.220055,80.220055
$638.00,39170,78.985371,81.87784,93.272171,97.308869,97.308869
$639.00,39170,78.985371,81.87784,65.988471,80.739234,80.739234
$644.00,39170,78.985371,81.87784,68.309602,79.299014,79.299014
$650.00,39170,78.985371,81.87784,66.057551,81.222432,81.222432
$652.00,39170,78.985371,81.87784,66.752967,80.862999,80.862999
$655.00,39170,78.985371,81.87784,65.683922,81.316421,81.316421

In [34]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [35]:
# Use "pd.cut to categorize spending based on the bins"
school_spending_df["Spending Ranges(Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=spending_group_names)

In [40]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Overall Passing"]

In [43]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})


# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$585,78.985371,81.87784,93.460096,96.610877,96.610877
$585-630,78.985371,81.87784,87.133538,92.718205,92.718205
$630-645,78.985371,81.87784,73.484209,84.391793,84.391793
$645-680,78.985371,81.87784,66.164813,81.133951,81.133951

# Scores by School Size

# Scores by School Size

In [68]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
school_size = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

In [96]:
# Categorize the spending based on the bins
school_data_complete["size"] = pd.cut(school_data_complete[""], size_bins, labels=labels)
# Group by School Size
size_summary = school_data_complete.groupby("size")

KeyError: 'student_count'

In [91]:
size_summary = school_data_complete.groupby("size")
size_summary

In [70]:
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"],
                                           size_bins,
                                           labels=school_size)

In [72]:
size_summary = per_school_summary.groupby("School Size")
size_summary

In [73]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_math_scores

School Size
Small(<1000)        NaN
Medium(1000-2000)   NaN
Large(2000-5000)    NaN
Name: Average Math Score, dtype: float64

In [74]:
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]

In [75]:
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]

In [76]:
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]

In [77]:
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [78]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`Display results 

size_summary = pd.DataFrame({
    'Average Math Score': size_math_scores,
    'Average Reading Score': size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    '% Overall Passing': size_overall_passing
})



size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),NaN,NaN,NaN,NaN,NaN
Medium(1000-2000),NaN,NaN,NaN,NaN,NaN
Large(2000-5000),NaN,NaN,NaN,NaN,NaN

# Scores by School Type

In [86]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]

In [84]:
# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

KeyError: 'Average Math Score'

In [82]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = per_school_summary.groupby("School Type")
type_summary = type_summary[["Average Math Score", "Average Reading Score", "% Passing Math", 
                             "% Passing Reading", "% Overall Passing"]]
                              



# Display results
type_summary.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,78.985371,81.87784,93.620830,96.586489,96.586489
District,78.985371,81.87784,66.548453,80.799062,80.799062