In [74]:
import os
import pandas as pd
import numpy as np

In [75]:
#Dependencies
import pandas as pd

#File path
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
school_data_total = pd.merge(student_data, school_data, how="left", on = ["school_name","school_name"])
school_data_total.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [76]:
#total number of uniques schools
school_total_unique = school_data['school_name'].unique()
print(school_total_unique)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [77]:
school_total_unique = []
school_total = []
total_students = []
total_budget = []
average_math_score = []
average_reading_score = []
avg_pass_math = []
avg_pass_read = []
pass_math_reading_count = []
school_types = []
student_count = []
per_school_capita = []
overall_passing_rate = []

In [78]:
#calculate total number unique schools
len(school_total_unique)

0

In [79]:
school_total = school_data_total['School ID'].count()
print(school_total)

39170

In [80]:
#total number of students
total_students = school_data_total['student_name'].count()
print(total_students)

39170

In [81]:
#calculate total budget for schools
total_budget = school_data['budget'].sum()
print(total_budget )

24649428

In [82]:
# calculate avg math score 
average_math_score = school_data_total['math_score'].mean()
print(average_math_score)

78.98537145774827

In [83]:
#calculate avg reading score 
average_reading_score = school_data_total['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [84]:
#percentage passing math
avg_math_score = school_data_total.loc[school_data_total['math_score'] >= 70]
avg_pass_math = len(avg_math_score)/ total_students * 100
print(avg_pass_math)

74.9808526933878

In [85]:

#percentage passing reading
avg_reading_score = school_data_total.loc[school_data_total['reading_score'] >= 70]
avg_pass_read = len(avg_reading_score)/ total_students * 100
print(avg_pass_read)

85.80546336482001

In [86]:
 #calculate overall pass score math/read
pass_math_reading_count = school_data_total[
    (school_data_total["math_score"] >= 70) & (school_data_total["reading_score"] >= 70)
].count()["student_name"]
overall_pass = pass_math_reading_count /  float(total_students) * 100
overall_pass

65.17232575950983

In [88]:
#create dataframe for district summary
district_summary = pd.DataFrame({"Total School": school_total_unique,
                                "Total Students": total_students,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": avg_pass_math,
                                "% Passing Reading": avg_pass_read,
                                "% Overall Pass Rate": [overall_passing_rate]})
#Reorganize columns with double brackets
district_summary = district_summary[["Schools", "Total Students", "Total Budget", 
                                     "Average Math Score", "Average Reading Score", 
                                     "% Passing Math", "% Passing Reading", "% Overall Pass Rate"]]

# Format to "$0,000.00"
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)

district_summary

ValueError: arrays must all be same length

avg_reading_scores = school_data_total.groupby("school_name").mean()["reading_score"]
avg_math_scores = school_data_total.groupby("school_name").mean()["math_score"]
total_budget_by_school = school_data_total.groupby("school_name").mean()["budget"]
school_type = school_data_total.groupby("type")
pd.DataFrame([avg_reading_scores, avg_math_scores, total_budget_by_school]).transpose()

In [31]:
#agg function create data with function inside table
school_data_total.groupby("school_name").agg({
    "budget": "mean",
    "math_score": "mean",
    "reading_score": "mean",
    "student_name": "count"
})

                        budget  math_score  reading_score  student_name
school_name
Bailey High School     3124928   77.048432      81.033963          4976
Cabrera High School    1081356   83.061895      83.975780          1858
Figueroa High School   1884411   76.711767      81.158020          2949
Ford High School       1763916   77.102592      80.746258          2739
Griffin High School     917500   83.351499      83.816757          1468
Hernandez High School  3022020   77.289752      80.934412          4635
Holden High School      248087   83.803279      83.814988           427
Huang High School      1910635   76.629414      81.182722          2917
Johnson High School    3094650   77.072464      80.966394          4761
Pena High School        585858   83.839917      84.044699           962
Rodriguez High School  2547363   76.842711      80.744686          3999
Shelton High School    1056600   83.359455      83.725724          1761
Thomas High School     1043130   83.418349      83.848930          1635
Wilson High School     1319574   83.274201      83.989488          2283
Wright High School     1049400   83.682222      83.955000          1800

# School Summary

In [26]:
#select school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [30]:
#calculate student count
student_count = school_data_total.groupby("school_name")["student_name"].count()
student_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [36]:
#calculate per capita budget

per_school_budget = school_data_total.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / student_count
                                                      
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [47]:
#calculate average test scores
per_school_math  = school_data_total.groupby('school_name').agg({'math_score':'mean'})
per_school_math

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [46]:
#calculate average test scores
per_school_reading  = school_data_total.groupby('school_name').agg({'reading_score':'mean'})
per_school_reading

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [39]:
#calculate number of schools with a math score 70 or higher
school_passing_math = school_data_total.loc[school_data_total["math_score"] >= 70].nunique()["school_name"]
school_passing_math

15

In [48]:
#calculate number of schools with a reading score 70 or higher
school_passing_reading = school_data_total.loc[school_data_total["reading_score"] >= 70].nunique()["school_name"]
school_passing_reading

15

In [50]:
#passed both math and reading
passing_math_and_reading = school_data_total[
    (school_data_total["reading_score"] >= 70) & (school_data_total["math_score"] >= 70)
]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [55]:
#calculate passing rates


per_school_passing_math = school_passing_math / student_count * 100
per_school_passing_reading = school_passing_reading / student_count * 100
overall_passing_rate = passing_math_and_reading.nunique()["school_name"] / student_count * 100
overall_passing_rate

school_name
Bailey High School       0.301447
Cabrera High School      0.807320
Figueroa High School     0.508647
Ford High School         0.547645
Griffin High School      1.021798
Hernandez High School    0.323625
Holden High School       3.512881
Huang High School        0.514227
Johnson High School      0.315060
Pena High School         1.559252
Rodriguez High School    0.375094
Shelton High School      0.851789
Thomas High School       0.917431
Wilson High School       0.657030
Wright High School       0.833333
Name: student_name, dtype: float64

In [106]:

 #create dataframe for school summary

per_school_summary = pd.DataFrame(per_school_summary["School": school_total_unique,
                               "Type" : school_type,
                                 "Total Students": total_students,
                                "Total School Budget": total_budget,
                                "Per Student Budget" : per_school_capita,
                                 "Average Math Score": average_math_score,
                                 "Average Reading Score": average_reading_score,
                                 "% Passing Math": avg_pass_math,
                                "% Passing Reading": avg_pass_read,
                                  "% Overall Pass Rate": overall_passing_rate])
                                  
#Reorganize columns with double brackets

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

TypeError: '(slice('School', [], None), slice('Type', <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f7dfb884cd0>, None), slice('Total Students', 39170, None), slice('Total School Budget', 24649428, None), slice('Per Student Budget', [], None), slice('Average Math Score', 78.98537145774827, None), slice('Average Reading Score', 81.87784018381414, None), slice('% Passing Math', 74.9808526933878, None), slice('% Passing Reading', 85.80546336482001, None), slice('% Overall Pass Rate', [], None))' is an invalid key

# Highest Performing Schools (by Overall Passing)

In [109]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows.
#Save the results in a DataFrame called "top_schools".
top_schools = school_data_total.sort_values(by=['school_name','overall_passing_rate'], inplace=False)
top_schools = pd.Dataframe
top_schools.head()

KeyError: 'overall_passing_rate'

Bottom Performing Schools (By % Overall Passing)

# Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = per_school_math.groupby["school_name"]
tenth_graders_scores = per_school_math.groupby["school_name"]
eleventh_graders_scores = per_school_math.groupby["school_name"]
twelfth_graders_scores = per_school_math.groupby["school_name"]

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# Reading Scores By Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

# Scores By School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary