In [144]:
import os
import pandas as pd
import numpy as np

In [239]:
#File path
school_data_to_combine = "Resources/schools_complete.csv"
student_data_to_combine = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_combine)
student_data = pd.read_csv(student_data_to_combine)


# Combine the data into a single dataset.  
school_data_total = pd.merge(student_data, school_data, how="left", on = "school_name")

In [240]:
#total number of uniques schools
school_total_unique = school_data['school_name'].unique()
print(school_total_unique)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [241]:
len(school_total_unique)

15

In [242]:
school_total = school_data_total['School ID'].count()

In [243]:
#total number of students
total_students = school_data_total['student_name'].count()

In [22]:

school_type = school_data_total.groupby("type")

In [23]:
#calculate total budget for schools
total_budget = school_data['budget'].sum()

In [24]:
# calculate avg math score 
average_math_score = school_data_total['math_score'].mean()

In [25]:
#calculate avg reading score 
average_reading_score = school_data_total['reading_score'].mean()

In [26]:
#percentage passing math
avg_math_score = school_data_total.loc[school_data_total['math_score'] >= 70]
avg_pass_math = len(avg_math_score)/ total_students * 100

In [27]:

#percentage passing reading
avg_reading_score = school_data_total.loc[school_data_total['reading_score'] >= 70]
avg_pass_read = len(avg_reading_score)/ total_students * 10

In [28]:
 #calculate overall pass score math/read
overall_pass = (avg_pass_math + avg_pass_read) / 2

In [29]:
#create dataframe for district summary
district_summary = pd.DataFrame({"Total Schools": school_total,
                                "Total Students": total_students,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": avg_pass_math,
                                "% Passing Reading": avg_pass_read,
                                "% Overall Pass Rate": [overall_pass]})
#Reorganize columns with double brackets
district_summary = district_summary[["Total Schools", "Total Students", "Total Budget", 
                                     "Average Math Score", "Average Reading Score", 
                                     "% Passing Math", "% Passing Reading", "% Overall Pass Rate"]]

# Format to "$0,000.00"
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
0,39170,39170,"$24,649,428.00",78.985371,81.87784,74.980853,8.580546,41.7807

In [30]:
avg_reading_scores = school_data_total.groupby("school_name").mean()["reading_score"]
avg_math_scores = school_data_total.groupby("school_name").mean()["math_score"]
total_budget_by_school = school_data_total.groupby("school_name").mean()["budget"]
school_type = school_data_total.groupby("type")
pd.DataFrame([avg_reading_scores, avg_math_scores, total_budget_by_school]).transpose()

                       reading_score  math_score     budget
school_name
Bailey High School         81.033963   77.048432  3124928.0
Cabrera High School        83.975780   83.061895  1081356.0
Figueroa High School       81.158020   76.711767  1884411.0
Ford High School           80.746258   77.102592  1763916.0
Griffin High School        83.816757   83.351499   917500.0
Hernandez High School      80.934412   77.289752  3022020.0
Holden High School         83.814988   83.803279   248087.0
Huang High School          81.182722   76.629414  1910635.0
Johnson High School        80.966394   77.072464  3094650.0
Pena High School           84.044699   83.839917   585858.0
Rodriguez High School      80.744686   76.842711  2547363.0
Shelton High School        83.725724   83.359455  1056600.0
Thomas High School         83.848930   83.418349  1043130.0
Wilson High School         83.989488   83.274201  1319574.0
Wright High School         83.955000   83.682222  1049400.0

In [31]:
#agg function create data with function inside table
school_data_total.groupby("school_name").agg({
    "budget": "mean",
    "math_score": "mean",
    "reading_score": "mean",
    "student_name": "count"
})

                        budget  math_score  reading_score  student_name
school_name
Bailey High School     3124928   77.048432      81.033963          4976
Cabrera High School    1081356   83.061895      83.975780          1858
Figueroa High School   1884411   76.711767      81.158020          2949
Ford High School       1763916   77.102592      80.746258          2739
Griffin High School     917500   83.351499      83.816757          1468
Hernandez High School  3022020   77.289752      80.934412          4635
Holden High School      248087   83.803279      83.814988           427
Huang High School      1910635   76.629414      81.182722          2917
Johnson High School    3094650   77.072464      80.966394          4761
Pena High School        585858   83.839917      84.044699           962
Rodriguez High School  2547363   76.842711      80.744686          3999
Shelton High School    1056600   83.359455      83.725724          1761
Thomas High School     1043130   83.418349      83.848930          1635
Wilson High School     1319574   83.274201      83.989488          2283
Wright High School     1049400   83.682222      83.955000          1800

In [46]:

# #create dataframe for school summary

# # Merge schools and students
school_summary = pd.merge(school_data, student_data, on='school_name')
school_summary = school_data_total.drop(['School ID', 'Student ID'], axis=1)

#calculate student count
student_count = school_summary.groupby("school_name")["student_name"].sum()

#calculate per student budget
per_capita_spending = school_summary["budget"].div(school_summary["student_name"])

#calcualte math pass
math_70_or_higher = school_summary.loc[df["math_score"] >= 70].nunique()["school_name"]

#calculate reading pass
reading_70_or_higher = school_summary.loc[df["reading_score"] >= 70].nunique()["school_name"]

# Select only the rows where both math and reading scores are 70 or higher
passed_both = school_summary[(df['math_score'] >= 70) & (df['reading_score'] >= 70)]

# Calculate the passing rate for math and reading by dividing the number of students who passed by the total student count
passing_rates = school_summary.assign(math_passing_rate=math_70_or_higher['math_70_or_higher'] / df['student_count'],
                          reading_passing_rate=reading_70_or_higher['reading_70_or_higher'] / df['student_count'])

# Calculate the passing rate for math and reading by dividing the number of students who passed by the total student count
passing_rates = school_summary.assign(math_passing_rate=math_70_or_higher['math_70_or_higher'] / df['student_count'],
                          reading_passing_rate=reading_70_or_higher['reading_70_or_higher'] / df['student_count'])
# Merge the dataframes on school_name
per_school_summary = pd.merge(student_count, per_capita_spending, on='school_name')
per_school_summary = pd.merge(per_school_summary, avg_test_scores, on='school_name')
per_school_summary = pd.merge(per_school_summary, math_70_or_higher, on='school_name')
per_school_summary = pd.merge(per_school_summary, reading_70_or_higher, on='school_name')
per_school_summary = pd.mer





# school_summary = pd.DataFrame({"School": school_total_unique,
#                                "Type" : school_type,
#                                  "Total Students": total_students,
#                                  "Total Budget": total_budget,
#                                  "Average Math Score": average_math_score,
#                                  "Average Reading Score": average_reading_score,
#                                  "% Passing Math": avg_pass_math,
#                                  "% Passing Reading": avg_pass_read,
#                                  "% Overall Pass Rate": overall_pass})
#  #Reorganize columns with double brackets
# school_summary = school_summary[["School", "Total Students", "Total Budget", 
#                                       "Average Math Score", "Average Reading Score", 
#                                       "% Passing Math", "% Passing Reading", "% Overall Pass Rate"]]


# school_summary

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [47]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows.
#Save the results in a DataFrame called "top_schools".
#school_data_total.sort_values(by=['school_name','% Overall Pass Rate'], inplace=False)
school_data_total

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130